@import "tailwindcss";

@theme {
  --color-primary: #40c057;
  --color-light: #;
  --color-aero-50: #effef6;
  --color-aero-100: #dafeeb;
  --color-aero-200: #bcfbda;
  --color-aero-300: #7ff6b9;
  --color-aero-400: #41e793;
  --color-aero-500: #18cf72;
  --color-aero-600: #0dac5c;
  --color-aero-700: #0e874a;
  --color-aero-800: #116a3e;
  --color-aero-900: #105735;
  --color-aero-950: #02311c;

  --shadow-liquidglass:
    inset 2px 2px 0px -2px rgba(255, 255, 255, 0.7),
    inset 0 0 3px 1px rgba(255, 255, 255, 0.7);
}
