body {
  font-family: "Monserrat", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-weight: 400;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: var(--color-aero-950);
  /* background-image: url(https://raw.githubusercontent.com/lucasromerodb/liquid-glass-effect-macos/refs/heads/main/assets/flowers.jpg); */
}
